table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

th {
    /* UI Properties */
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-10)/20px Roboto;
    letter-spacing: var(--unnamed-character-spacing-0);
    font: normal normal bold 10px/20px Roboto;
    color: #0B749B;
    opacity: 1;
    border-bottom: 1px solid;
}

.ranking {
    text-align: center !important;
}

.view {
    cursor: pointer;
}

.table-row {
    height: 40px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 16px/20px Roboto;
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    font: normal normal normal 16px/20px Roboto;
    letter-spacing: 0px;
    color: #536B7A;
    opacity: 1;
    border-bottom: 1px solid #78849E66;
}